* {
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.title {
    text-align: center; 
    margin: 20px; 
    font-size: 30px; 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 

    width: 400px; 
    border: 1px solid black; 
    padding: 20px; 
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 3px; 

    width: 90%; 
}

.form-row.invalid input {
    background-color: rgb(255, 139, 139);
}

.form-row.valid input {
    background-color: rgb(117, 255, 117); 
}
input {
    border-radius: 7px; 
    border: 1px solid gray; 
    font-size: 20px; 
    padding: 10px; 
    outline: none;
}

.error-message {
    color: red; 
}

.btn {
    padding: 10px; 
    width: 100px; 
    border-radius: 10px; 
    border: none; 
    background-color: gray; 
    color: white; 
    transition: 250ms; 
}

.btn:hover {
    color: black;
    border: 1px solid black; 
    background-color: white; 
    transition: 250ms; 
}
