* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center; 
    margin: 20px; 
    font-size: 30px; 
}

form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 

    padding: 20px; 
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 3px; 
}

input {
    border-radius: 7px; 
    border: 1px solid gray; 
    padding: 5px; 
    outline: none;
}

input:valid {
    border: 2px solid gray; 
}

input:invalid {
    border: 2px solid red; 
}

.error-message {
    color: red; 
}

